.App {
  text-align: center;
}

.wrapper {
  margin: 70px;
}

.narrow-wrapper {
  margin: 20px;
}

.landing-title-text {
  font-size: 30px;
  font-weight: bold;
  color: white;
}

.landing-orange-heading {
  font-size: 18px;
  font-weight: bold;
  color: #F24E1E;
}

.landing-caption-text {
  font-size: 14px;
  justify-content: center;
}

.home-heading {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  margin-bottom: 10px; 
}

.home-heading-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: center;
}

.rounded-outline-box {
  padding: 1px;
  outline-color: black;
  outline-style: solid;
  border-radius: 10px; 
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  max-height: 50vh;
  height: auto;
  overflow: auto;
}

.userprofile-title-text {
  font-size: 50px;
  font-weight: bold;
  color: white;
  margin: 10.0px;
  text-align: left;
  margin-left: 40%;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
}

.userprofile-caption-text {
  font-size: 20px;
  color: white;
  margin: 1.0px;
  text-align: left;
  margin-left: 40%;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.edituser-custom-input {
  background: transparent; 
  border: 1px solid white;
  color: white; 
  padding: 10px;
  font-size: 14px;
  width: 80%;
  border-radius: 6px; 
}

.center-column-wrapper {
  margin: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center-column-body-wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grad-box {
  margin-top: -15px;
  padding: 30px;
  text-align: center;
  color: rgb(231, 231, 231);
  background-image: linear-gradient(rgb(0, 0, 0), rgb(105, 105, 105));
}

.matching-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  min-width: 100%;

  @media (max-width: 1100px) {
    margin-top: -40px; 

    .image-container {
      display: none;
    }

    .rounded-black-box {
      min-width: 100%;
      width: 100%;
      margin: 0 auto;
    }

    .match-title-text {
      margin-left: 0;
    }

    .match-sub-text {
      margin-left: 0;
    }

    .match-body-text {
      margin-left: 0;
    }

    .match-form-container {
      margin-left: 0;
    }
  }
}

.match-form-container {
  margin-left: 60px;
  margin-bottom: 20px;
}

.rounded-black-box {
  padding: 30px;
  color: white;
  background-color: black;
  border-radius: 10px; 
  max-width: 70%; 
  width: auto; 
  margin: 0 auto; 
}

.match-title-text {
  font-size: 30px;
  font-weight: bold;
  color: black;
  margin-left: 100px;
  margin-bottom: 10px;
}

.match-body-text {
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin-left: 40px;
  margin-bottom: 30px;
}

.match-sub-text {
  font-size: 15px;
  color: black;
  margin-left: 100px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
